*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-footer {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.auth-link {
  color: #e63946;
  cursor: pointer;
  font-weight: 600;
}

.auth-link:hover {
  text-decoration: underline;
}
